<div class="container">
  <h3 class="privacy__title">プライバシーポリシー</h3>
  <div class="privacy__box col-11">
    <h4 class="privacy__subtitle">広告について</h4>
    <h5 class="privacy__text">
      当サイトでは、Googleおよび第三者事業者からの広告を掲載しております。
      ユーザーごとに適した広告を表示するため、Cookieが使用されております。
      このCookieに個人の特定が可能な情報（氏名・住所など）は含まれておりません。
      Cookieに関する詳細および広告に関する設定は、下記のリンクを参照ください。
    </h5>
    <ul>
      <li class="privacy__link">
        <h5>
          <a href="https://policies.google.com/technologies/ads?hl=ja">
            Googleポリシーと規約：広告
          </a>
        </h5>
      </li>
    </ul>
  </div>
  <div class="privacy__box col-11">
    <h4 class="privacy__subtitle">アクセス解析ツールについて</h4>
    <h5 class="privacy__text">
      当サイトでは、アクセス解析のために「Googleアナリティクス」を使用しております。
      アクセス解析処理においてCookieを使用しますが、データは匿名化されています。
      また、Cookie内に個人の特定が可能な情報（氏名・住所など）は含まれておりません。
      詳細については、下記のリンクを参照ください。
    </h5>
    <ul>
      <li class="privacy__link">
        <h5>
          <a href="https://policies.google.com/technologies/partner-sites?hl=ja">
            Googleポリシーと規約：GOOGLEのサービスを使用するサイトやアプリから収集した情報のGOOGLEによる使用
          </a>
        </h5>
      </li>
      <li class="privacy__link">
        <h5>
          <a href="https://marketingplatform.google.com/about/analytics/terms/jp/">
            Googleアナリティクス利用規約
          </a> 
        </h5>
      </li>
    </ul>
  </div>
</div>