<h2 class="main">プライバシーポリシー</h2>
<div class="textbox">
  <h3 class="textbox__title">広告について</h3>
  <h4 class="textbox__content">
    当サイトでは、Googleおよび第三者事業者からの広告を掲載しております。
    ユーザーごとに適した広告を表示するため、Cookieが使用されております。このCookieに個人の特定が可能な情報（氏名・住所など）は含まれておりません。
    Cookieに関する詳細および広告に関する設定は、下記のリンクを参照ください。
  </h4>
  <ul>
    <li>
      <a href="https://policies.google.com/technologies/ads?hl=ja">
        Googleポリシーと規約：広告
      </a>
    </li>
  </ul>
</div>
<div class="textbox">
  <h3 class="textbox__title">アクセス解析ツールについて</h3>
  <h4 class="textbox__content">
    当サイトでは、アクセス解析のために「Googleアナリティクス」を使用しております。
    アクセス解析処理においてCookieを使用しますが、データは匿名化されています。また、Cookie内に個人の特定が可能な情報（氏名・住所など）は含まれておりません。
    詳細については、下記のリンクを参照ください。
  </h4>
  <ul>
    <li>
      <a href="https://policies.google.com/technologies/partner-sites?hl=ja">
        Googleポリシーと規約：GOOGLEのサービスを使用するサイトやアプリから収集した情報のGOOGLEによる使用
      </a>
    </li>
    <li>
      <a href="https://marketingplatform.google.com/about/analytics/terms/jp/">
        Googleアナリティクス利用規約
      </a> 
    </li>
  </ul>
</div>