<div class="quiz_wadokaichin_thumbnail">
  <img src="<%= quiz_wadokaichin.image_url %>">
  <%= link_to "和銅開珍 No.#{quiz_wadokaichin.id}", quiz_wadokaichin_path(quiz_wadokaichin.id) %>
  <p><%= quiz_wadokaichin.created_at.strftime('%Y/%m/%d') %></p>
</div>
