<main
	data-vue="quiz-wadokaichin-show"
	class="container"
>
	<%= render 'quiz_wadokaichins/partials/header_link' %>
	<section>
		<%= render 'quiz_wadokaichins/partials/wadokaichin_table' %>
		<%= render 'quiz_wadokaichins/partials/related_links' %>
	</section>
</main>
