<div id="quiz_wadokaichin_show" class="container">
	<%= render 'quiz_wadokaichins/partials/header_link' %>
	<div class="container">
		<%= render 'quiz_wadokaichins/partials/wadokaichin_table' %>
		<%= render 'quiz_wadokaichins/partials/related_links' %>
	</div>
</div>
