<% if resource.errors.any? %>
  <div id="error_explanation" class="error_field alert alert-danger">
    <div class="flash__title text-center">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </div>
      <% resource.errors.full_messages.each do |message| %>
        <div class="flash__subtitle text-center mt-2 font-weight-normal"><%= message %></div>
      <% end %>
  </div>
  <br>
<% end %>
