<div>[<%= @user.name %>さん] ようこそ[サービス名]へ！</div>
<div>
  <p>[サービス名]をご利用頂きまして、ありがとうございます。</p>
  <div>
    <p>下記の内容にて、アカウント登録が完了しました。</p>
    <p>メールアドレス： <%= @user.email %></p>
    <p>お名前： <%= @user.name %></p>
    <p>パスワード： ご登録時にご入力頂いたもの</p>
  </div>
  <p>今後も[サービス名]をお楽しみください！</p>

  <p>[サービス名] カスタマーセンター</p>
</div>
