<div class="answer-buttons">
  <button
    @click="checkAnswer"
    :disabled="isCorrect || answerIsVisible"
  >
    解答する
  </button>
  <button
    v-on:click="answerIsVisible = true"
    :disabled="answerIsVisible"
  >
    答えを見る
  </button>
</div>