<div class="wadokaichin__link-box container">
  <h4 class="wadokaichin__link-box--title">他のクイズにも挑戦してみますか？</h4>
  <div class="justify-content-center row">
    <%= render @related_quizzes %>
  </div>
</div>