<div class="wadokaichin__link-box container">
  <div class="wadokaichin__link-box--title">他のクイズにも挑戦！</div>
  <div class="justify-content-center row">
    <%= render @related_quizzes %>
  </div>
</div>