<div class="sns">
  <div class="fb-like" data-href=<%= @url %>
      　data-width="" data-layout="button" data-action="like" data-size="small"
      　data-share="false"></div>
  <a href="https://twitter.com/share" class="twitter-share-button"
      data-text="あなたは解けるかな？"　data-url=<%= @url %> data-show-count="false"></a>
</div>