#table {
  background-image: url("https://quiz-site-ys.s3-ap-northeast-1.amazonaws.com/wadokaichin/quiz-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 20px;
}

@import "~bootstrap/scss/bootstrap";