// Header & footer
.header {
  background-color: $gray-300;
  background-attachment: fixed;
  &--container {
    padding: 15px;
  }
  &--left {
    margin-right: 0px;
  }
}

.footer {
  background-color: $gray-300;
}

#table {
  background-image: url("https://quiz-site-ys.s3-ap-northeast-1.amazonaws.com/wadokaichin/quiz-background.jpg");
  background-position: center;
  background-size: contain;
  padding: 20px;
  margin: 20px;
}