
// Typography
$font-family-base: Noto Sans JP;
h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
h7 {
  font-size: 14px;
  margin: 0;
}
h8 {
  font-size: 12px;
  margin: 0;
}

@mixin title() {
  text-align: center;
  margin: 30px 0;
}

@mixin subtitle() {
  color: $primary;
  text-align: center;
  margin-bottom: 20px;
}

// Others
a {
  color: $black;
  &:hover {
    color: $gray-800;
    text-decoration: none;
  }
}

// Fontawesome
.fa-twitter-color { color: #1DA1F2 }
.fa-google-color { color: #DD5144 }
.fa-yahoo-color { color: #FF0027 }
.fa-line-color { color: #00B900 }

// Body
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


// Header & footer
.header {
  background-color: $gray-300;
  background-attachment: fixed;
  padding: 15px;
  &__link-text {
    margin-right: 15px;
    float: left;
  }
  &__icon {
    margin-right: 10px;
    float: left;
  }
  &__dropdown {
    padding: 10px 20px;
    white-space: nowrap;
  }
  &__dropdown-text {
    margin: 10px 0;
  }
}

.footer {
  margin-top: auto;
  background-color: $gray-300;
  &__link-text {
    padding: 10px 0;
    margin-right: 30px;
  }
}


// Shared components
.pagination {
  margin: 20px 0;
}

.quiz_thumbnail {
  background-color: $gray-300;
  text-align: center;
  border: none;
  margin: 10px;
  &__title {
    margin: 10px 0 5px 0;
    &--category {
      color: $primary;
    }
    &--number {
      font-size: 16px;
    }
  }
}

.fb_iframe_widget > span {    // いいねボタン
  vertical-align: baseline !important;
}


// Pages
.index {
  &__title {
    @include title();
  }
  &__subtitle {
    @include subtitle();
  }
  &__searchtext {
    margin: 0 0px;
  }
  &__navbar {
    margin: 10px 0;
  }
  &__box {
    margin: 0 10px;
  }
}
/// Responsive
@media(max-width: 768px) {
  .index {
    &__form {
      flex-direction: column;
    }
  }
}


.wadokaichin {
  &__header-box {
    align-items: flex-end;
    margin: 30px 0;
  }
  &__title {
    @include title();
    &--number {
      font-size: 24px;
      margin-left: 10px;
    }
    &--link {
      font-size: 24px;
    }
  }
  &__subtitle {
    @include subtitle()
  }
  &__quiz-box {
    margin: 20px 50px;
  }
  &__image {
    display: block;
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: auto;
  }
  &__button-box {
    margin: 10px 0 10px 0;
    &--button {
      margin-bottom: 10px;
    }
  }
  &__social-box {
    margin-left: 0px;
    &--tweet {
      height: 28px;
      font-size: 12px;
      line-height: 12px;
      color: white;
      background-color: #1DA1F2;
    }
    &--facebook {
      :hover {
        color: black;
      }
    }
  }
  &__vote-box {
    padding: 10px;
    background-color: $gray-300;
    margin: 10px 0 10px 0;
  }
  &__answer-box {
    background-color: $gray-300;
    padding: 70px 30px;
    &--large-letter {
      color: $primary;
      font-size: 24px;
    }
  }
  &__form-box {
    margin: 20px;
    padding: 0px 10px;
    border: none;
    &--header {
      background-color: $gray-300;
      border: none;
    }
    &--body {
      border: solid $gray-300;
    }
  }
  &__link-box {
    margin: 20px 0;
    &--title {
      margin: 20px;
    }
  }
}



.privacy {
  &__box {
    margin: 0 auto;
  }
  &__title {
    @include title();
  }
  &__subtitle {
    @include subtitle();
  }
  &__text {
    line-height: 1.5;
  }
  &__link {
    margin: 10px 0 20px 0;
    line-height: 1.5;
  }
}

.form {
  &__title {
    @include title();
  }
  &__subtitle {
    @include subtitle();
  }
  &__wrapper {
    margin-top: 40px;
  }
  &__box {
    margin-bottom: 20px;
  }
  &__text {
    margin: 0px auto 10px auto;
    text-align: left;
  }
}

.edit {
  &__title {
    @include title();
  }
  &__subtitle {
    @include subtitle();
  }
  &__wrapper {
    margin-top: 40px;
  }
  &__box {
    margin-bottom: 20px;
  }
  &__text {
    margin: 0px auto 10px auto;
    text-align: left;
  }
}
