a {
  color: $black;
  &:hover {
    color: $gray-800;
  }
}

// Header & footer
.header {
  background-color: $gray-300;
  background-attachment: fixed;
  padding: 15px;
  &__link-text {
    margin-right: 15px;
    float: left;
  }
  &__icon {
    margin-right: 10px;
    float: left;
  }
  &__dropdown {
    padding: 10px 20px;
    white-space: nowrap;
  }
  &__dropdown-text {
    margin: 10px 0;
  }
}

.privacy {
  &__box {
    text-align: left;
    margin:  0 auto;
  }
  &__title {
    text-align: center;
    margin: 30px 0;
  }
  &__subtitle {
    color: $primary;
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    line-height: 1.5;
  }
  &__link {
    margin: 10px 0 20px 0;
    line-height: 1.5;
  }
}

.footer {
  background-color: $gray-300;
  padding: 15px;
  &__link-text {
    margin-right: 15px;
  }
}

.wadokaichin-table {
  background-image: url("https://quiz-site-ys.s3-ap-northeast-1.amazonaws.com/wadokaichin/quiz-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 20px;
}
