@import "common.scss";

.error-404 {
  &__title-box {
    background-color: white;
    padding: 1px;
    margin-bottom: 30px;
  }
  &__title {
    @include title();
  }
  &__subtitle {
    @include subtitle();
  }
  &__text {
    @include heading2();
    margin-bottom: 20px;
  }
  &__image {
    height: 190px;
    width: 190px;
    object-fit: cover;
    margin: 0;
    text-align: center;
  }
  &__button-box {
    margin: 20px;
  }
}