// Colors
$crimson: #ba000d;
$white: #ffffff;
$gray-300: #e3e3e3;
$gray-400: #d2d2d2;
$gray-600: #a3a3a3;
$gray-800: #7d7d7d;
  // For fontawesome
  .fa-twitter-color { color: #1DA1F2 }
  .fa-google-color { color: #DD5144 }
  .fa-yahoo-color { color: #FF0027 }
  .fa-line-color { color: #00B900 }

// Typography
$font-family-base: Noto Sans JP;
h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
h7 {
  font-size: 14px;
  margin: 0;
}
h8 {
  font-size: 12px;
  margin: 0;
}
