@import "common.scss";

.login {
  &__banner {
    height: 50px;
  }
  &__icon {
    margin: 5px 10px 0 0;
    float: left;
  }
  &__social-box {
    text-align: center;
    margin: 10px auto;
  }
  &__dropdown {
    margin: 30px auto;
    padding: 10px 60px;
    max-width: 350px;
    border: solid 1px $gray-300;
    border-radius: 4px;

    &--username {
      @include heading1();
      vertical-align: 50%;
      background-color: $gray-300;
      border-radius: 4px;
      padding: 15px;
    }
    &--button {
      @include heading1();  
      margin-right: 15px;
      float: left;
      background-color: $gray-300;
      border-radius: 4px;
      padding: 15px;
    }
    &--text {
      @include heading1();
      margin: 10px 0;
    }
    &--logout {
      @include heading1();
      padding: 0;
      margin-bottom: 10px;
      background-color: transparent;
      border: none;
    }
  }
}