<h4>■フォームからのお問い合わせ</h4>
<div>
  <p>email: <%= @inquiry[:email] %></p>
  <p>お名前: <%= @inquiry[:name] %></p>
  <p>タイトル: <%= @inquiry[:title] %></p>
  <p>お問い合わせ内容:</p>
  <p><%= @inquiry[:content] %></p>
</div>
