<div>
  <img
    src="https://quiz-site-ys.s3-ap-northeast-1.amazonaws.com/banner.svg"
    alt="クイズ和銅開珍"
    style="height: 50px;"
  >
</div>
<hr style="width: 100%;">
<div>
  <div>
    <p style="font-weight: bold;">
      パスワードリセットのお知らせ
    </p>
    <p>いつもクイズ和銅開珍をご利用いただき、ありがとうございます！</p>
    <p>下記のリンクより、パスワードの再設定が行えます。</p>
    <div style="padding: 10px; border: solid 1px #DEE2E6;">
      <p>メールアドレス：<%= @resource.email %></p>
      <p>
        <%= link_to 'パスワード再設定',
            edit_password_url(@resource, reset_password_token: @token) %>
      </p>
    </div>
    <p>今後もクイズ和同開珎をお楽しみください。</p>
    <p style="font-size: 12px;">
      ※このメールに覚えがない場合は、お手数ですがメールの破棄をお願いいたします。
    </p>
    <p>クイズ和同開珎</p>
  </div>
</div>
