<footer class="footer navbar navbar-fixed-bottom">
  <span></span>
  <div class="navbar-right">
    <div class="row">
      <h5 class="footer__link-text"><%= link_to "プライバシー", privacy_path %></h5>
      <h5 class="footer__link-text"><%= link_to "フォーム", form_path %></h5>
    </div>
  </div>
</footer>