<footer class="footer navbar navbar-fixed-bottom">
  <nav>
    <%= render_breadcrumbs :separator => ' > ' %>
  </nav>
  <span></span>
  <nav class="navbar-right">
    <div class="row">
      <div class="footer__link-text"><%= link_to "プライバシー", privacy_path %></div>
      <div class="footer__link-text"><%= link_to "フォーム", form_path %></div>
    </div>
  </nav>
</footer>