<footer class="navbar navbar-fixed-bottom">
  <span></span>
  <div class="navbar-right">
    <div class="row">
      <h6><%= link_to "プライバシー", privacy_path %></h6>
      <span class="col-1"></span>
      <h6><%= link_to "フォーム", form_path %></h6>
    </div>
  </div>
</footer>
