<footer class="footer navbar navbar-fixed-bottom justify-content-center">
  <nav class="font-weight-bold justify-content-center">
    <div class="row justify-content-around">
      <div class="footer__link-text"><%= link_to "プライバシーポリシー", privacy_path %></div>
      <div class="footer__link-text"><%= link_to "お問い合わせ", form_path %></div>
    </div>
    <a href="/" class="row justify-content-center">
      <%= render_breadcrumbs :separator => ' > ' %>
    </a>
  </nav>
</footer>